.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.slider {
    max-width: 100%;
    text-align: center;
    position: relative;
    margin: 1%;
}

.slide {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;  
    scrollbar-width: none;
}

.slide::-webkit-scrollbar {
    display: none;
}

.card-content {
    height: 50ch;
}